<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abswitch.weblog.common.domain.mapper.ArticleMapper">

    <!-- 分页查询文章列表 -->
    <select id="selectPageList" resultType="com.abswitch.weblog.common.domain.dos.ArticleDO">
        SELECT
        id, title, cover, summary, slug, create_time, update_time, is_deleted, weight
        FROM t_article
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="startDate != null">
                AND create_time >= #{startDate}
            </if>
            <if test="endDate != null">
                AND create_time &lt;= #{endDate}
            </if>
        </where>
        ORDER BY weight DESC, create_time DESC
    </select>

    <select id="selectAllReadNum" resultType="java.lang.Long">
        SELECT read_num FROM t_article
    </select>

    <select id="selectDateArticlePublishCount" resultType="com.abswitch.weblog.common.domain.dos.ArticlePublishCountDO">
        SELECT DATE(create_time) AS date, COUNT(*) AS count
        FROM t_article
        WHERE create_time <![CDATA[ >= ]]> #{startDate}
        AND create_time <![CDATA[ < ]]> #{endDate}
        GROUP BY DATE(create_time)
        ORDER BY DATE(create_time)
    </select>
</mapper>